
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	@variants responsive {
		.no-scrollbar::-webkit-scrollbar {
			display: none;
		}

		.no-scrollbar {
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}
	}
}
.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  color:#766DF4;
  background: radial-gradient(farthest-side, currentColor calc(100% - 6px),#0000 calc(100% - 5px) 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - 13px),#000 calc(100% - 12px));
  border-radius: 50%;
  animation: s9 2s infinite linear;
}
.custom-loader::before,
.custom-loader::after {    
  content:"";
  grid-area: 1/1;
  background:
    linear-gradient(currentColor 0 0) center,
    linear-gradient(currentColor 0 0) center;
  background-size: 100% 10px,10px 100%;
  background-repeat: no-repeat;
}
.custom-loader::after {
   transform: rotate(45deg);
}

@keyframes s9 { 
  100%{transform: rotate(1turn)}
}

.loading_state {
  color: transparent;
  background: linear-gradient(100deg, #eceff1 30%, #f6f7f8 50%, #eceff1 70%);
  background-size: 400%;
  animation: loading 1.2s ease-in-out infinite;
}


/** Loader */
.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 200px; */
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  margin-right: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadedContent {
  text-align: center;
}

@font-face {
  font-family: 'Playball';
  src: url('./fonts/Playball/Playball-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PressStart2P';
  src: url('./fonts/Press_Start_2P/PressStart2P-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Perpetua';
  src: url('./fonts/Perpetua/Perpetua\ Bold\ font.ttf') format('truetype');
  src: url('./fonts/Perpetua/perpeta.ttf') format('truetype');
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}


body {
  /* font-family: 'MyFont', sans-serif; */
}

.button-animation {
  animation: moveRight 0.3s ease-in-out;
}


/** FRAMER NOTION ANIMATION for visible */

.zoom-in-element {
  opacity: 0;
}

.zoom-in-animation {
  opacity: 1;
  transform-origin: center;
}

.slide-left-element {
  opacity: 0;
}

.slide-left-animation {
  opacity: 1;
  transform: translateX(0);
}

/** Effect */ 

.effect-container-in-element {
  opacity: 0.3;
}

.effect-container-in-animation {
  opacity: 1;
  transform-origin: center;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50px);
  }
}

/* For WebKit (Chrome, Safari) */
/* Customize the track */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

/* Customize the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #FFB62E; /* Change the thumb color */
  border-radius: 6px; /* Round the corners of the thumb */
}

/* Customize the track (the non-draggable part of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: #000000; /* Change the track color */
}

::-webkit-scrollbar {
  width: 8px;
  background: #000000;
  border-radius: 10px;
  /* height: "100%"; */
  height: 100%;

}


::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: #181717;
  border-radius: 10px;

  height: "100%";

}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@keyframes animateBackground {
  0% {
    transform: translateX(0) translateY(0);
  }
  100% {
    transform: translateX(100%) translateY(-100%);
  }
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated-element {
  animation: slideInLeft 2.5 ease-in infinite;
}

.fadein-element {
  animation: fadeIn 2.5 ease-out infinite;
}
/* For Firefox */
/* Set the scrollbar width and color (optional) */
/* scrollbar-width: thin;
scrollbar-color: #888 #f1f1f1; */

/* .game-container {
  height: 700px;
} */


/** CIRCLES ANIMATION*/ 
.context {
  width: 100%;
  position: relative;
  /* top: 50vh; */
  padding: "10px"

}


.area {
  /* background: #4e54c8; */
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100%;


}

.circles {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  /* position: relative; */
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  /* bottom: -150px */
  /* bottom: -150px */

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

/* .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
 */


@keyframes animate {

  0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}


/** CIRCLE */
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
/* @-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
} */

